.btn {
    width: 55.2rem;
    height: 5.6rem;
    border-radius: 1.6rem;
    border: none;
    background-color: var(--primary-color);
    color: var(--white-ink);
}

.btn:hover {
    cursor: pointer;
    background-color: #5E235B;
}
.btn:focus {
    outline: none;
}

.btn-large {
    font-weight: 500;
    font-size: 1.8rem;
}
.btn-medium {
    font-weight: 500;
    font-size: 1.6rem;
}
.btn-large:hover {
    cursor: pointer;
}
.btn-medium:hover {
    cursor: pointer;
}