.difficulty-container {
    color: #F2F2F2;
    border-radius: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0.8rem 1.6rem;
}
.difficulty-container > p {
    margin: 0.4rem 1.6rem;
}
.easy {
    background-color: var(--secondary-color);
}

.hard {
    background-color: var(--error-color);
}