#recover-pwd-input {
    width: 55.2rem;
    margin-top: 0.5rem;
}

#recover-pwd-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

#recover-password-div {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
}