#recover-pwd-input {
    width: 55.2rem;
    margin-top: 0.5rem;
}

#recover-pwd-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

#recover-password-div {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
}

@media screen and (max-width: 600px) {
    #recover-pwd-form h1 {
        font-size: 4rem;
    }
    #recover-pwd-input {
        max-width: 40.6rem;
        max-height: 4rem;
    }
    #recover-pwd-btn {
        max-width: 40.6rem;
        max-height: 4rem;
    }
    #recover-pwd-form {
        gap: 1rem;
    }
}

@media screen and (max-width: 420px) {
    #recover-pwd-form h1 {
        font-size: 3rem;
    }
    #recover-pwd-input {
        max-width: 27.6rem;
        max-height: 4rem;
    }
    #recover-pwd-btn {
        max-width: 27.6rem;
        max-height: 4rem;
    }
    #recover-pwd-form {
        gap: 1rem;
    }
}