#login-page-div {
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 17.6rem;
    margin: 0 auto;
    align-items: center;
    max-width: 120rem;
    height: 100vh;
}
