header {
    border-bottom: 1px solid var(--gray-ink);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#header-navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 3rem;
}
#header-navigation-container > p:hover {
    cursor: pointer;
}
#header-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 120rem;
    gap: 25.9rem;
    margin-bottom: 2.6rem;
    height: 12rem;
}
#header-name-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

header h2 {
    text-align: start;
}